.container_filter_button{

    height: 4vh;
}
.filter_button{

    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.filter_button_arrow{

    border: none;
}

.popup-items{

    width: 12vw;

    position: absolute;
    top: 9.2em;
    z-index: 1;

    border-radius: 0.5em;
}