<div class="container d-flex flex-column justify-content-center align-items-center filters">
    <div class="row container_filter_button" (click)="changeFiltersView()">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="row h-100 filter_button">
                <div class="col-9 p-0">
                    <input *ngIf="showTerms" type="text" class="w-100 border-0 h-100 text-center" placeholder="Régimen" aria-label="Input group example" aria-describedby="btnGroupAddon2">
                    <input *ngIf="showCategories" type="text" class="w-100 border-0 h-100 text-center" placeholder="Tipo" aria-label="Input group example" aria-describedby="btnGroupAddon2">
                    <input *ngIf="showLocations" type="text" class="w-100 border-0 h-100 text-center" placeholder="Localización" aria-label="Input group example" aria-describedby="btnGroupAddon2">
                    <input *ngIf="showCharacteristics" type="text" class="w-100 border-0 h-100 text-center" placeholder="Características" aria-label="Input group example" aria-describedby="btnGroupAddon2">
                </div>
                <div class="col-3 p-0">
                    <button class="h-100 w-100 p-0 m-0 border-0 filter_button_arrow">
                        <i class="bi bi-caret-down-fill"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showFilters" class="row mt-1 p-1 d-flex flex-column justify-content-center align-items-center bg-light popup-items">
        <div *ngIf="showTerms" class="m-0 p-0">
            <div *ngFor="let term of terms" class="col-12 d-flex justify-content-center align-items-center">
                <input type="checkbox">
                <label for="" class="w-100 ps-2 d-flex justify-content-start align-items-center">{{term.name}}</label>
            </div>
        </div>
        <div *ngIf="showCategories">
            <div *ngFor="let category of categories" class="col-12 d-flex justify-content-center align-items-center">
                <input type="checkbox">
                <label for="" class="w-100 ps-2 d-flex justify-content-start align-items-center">{{category.name}}</label>
            </div>
        </div>
        <div *ngIf="showLocations">
            <div *ngFor="let location of locations" class="col-12 d-flex justify-content-center align-items-center">
                <input type="checkbox">
                <label for="" class="w-100 ps-2 d-flex justify-content-start align-items-center">{{location.name}}</label>
            </div>
        </div>
        <div *ngIf="showCharacteristics">
            <div *ngFor="let characteristic of characteristics" class="col-12 d-flex justify-content-center align-items-center">
                <input type="checkbox">
                <label for="" class="w-100 ps-2 d-flex justify-content-start align-items-center">{{characteristic.name}}</label>
            </div>
        </div>
    </div>
</div>