<div class="container h-100">
    <div class="row h-100 p-4">
        <div class="col-12 h-25 d-flex justify-content-center align-items-center">
            <img src="../../../assets/img/logo.png" class="w-50" alt="">
        </div>
        <div class="col-12 h-50">
            <div class="row h-100 d-flex flex-column justify-content-around align-items-center">
                <div class="col-12 p-2 d-flex justify-content-between align-items-center">
                    <label for="">Régimen</label>
                    <input class="w-50" type="text">
                </div>
                <div class="col-12 p-2 d-flex justify-content-between align-items-center">
                    <label for="">Tipo</label>
                    <input class="w-50" type="text">
                </div>
                <div class="col-12 p-2 d-flex justify-content-between align-items-center">
                    <label for="">Localidad</label>
                    <input class="w-50" type="text">
                </div>
                <div class="col-12 p-2 d-flex justify-content-between align-items-center">
                    <label for="">Precio</label>
                    <input class="w-50" type="text">
                </div>
                <div class="col-12 p-2 d-flex justify-content-between align-items-center">
                    <label for="">Habitaciones</label>
                    <input class="w-50" type="text">
                </div>
                <div class="col-12 p-2 d-flex justify-content-between align-items-center">
                    <label for="">Lavabos</label>
                    <input class="w-50" type="text">
                </div>
            </div>
        </div>
        <div class="col-12 p-0 d-flex justify-content-around align-items-center h-25">
            <img src="../../../assets/img/logo_whatsapp.svg" class="h-25" alt="">
            <h4 class="m-0">666 666 666</h4>
        </div>
    </div>
</div>