<div class="container p-4">
    <div class="row h-100 dflex justify-content-center align-items-center bg-light">
        <div class="col-12">
            <div class="row">
                <div class="col-8 d-flex justify-content-center align-items-center">
                    <img src="../../../assets/inmuebles/REF005/portada.jpg" class="w-100" alt="">
                </div>
                <div class="col-4 p-2">
                    <div class="row h-100 d-flex justify-content-around align-items-center">
                        <div class="col-12 d-flex flex-column justify-content-center align-items-start">
                            <h6>Referencia</h6><h3>{{properties.reference}}</h3>
                            <h6>Localidad</h6><h3>{{properties.location}}</h3>
                            <h6>Régimen</h6><h3>{{properties.term}}</h3>
                            <h6>Precio</h6><h3>{{properties.price}}</h3>
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                            <h6>Habitaciones</h6><h3>{{properties.bedrooms}}</h3>
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                            <h6>Lavabos</h6><h3>{{properties.bathrooms}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>