.card{

    background-position: center;
    background-size: cover;
}

.property_info{

    margin: 0;

    font-size: 1.2em;
}

.property_card{

    height: 35vh;

    /* background-color: rgba(50, 144, 172, 0.603); */
    border-radius: 0.5em;
    border: 1px solid rgba(50, 144, 172, 0.603);
    box-shadow: rgba(184, 30, 30, 0.16) 0px 1px 4px;
}

.image_property_card{

    border-radius: 0.5em;
}